<ion-header>
  <ion-navbar>
    <ion-title>
      Notas
    </ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding [style.background-color]="this.tipoNota == 'notas-secretas' ? 'gray' : ''">

  <div padding-vertical text-center *ngIf="notas == undefined || notas.length == 0">    
    <h2>Nenhuma nota encontrada</h2>
    <p *ngIf="this.tipoNota  != 'notas-arquivadas'">Utilize o botão "+" abaixo para criar notas.</p>
  </div>
  <ion-card *ngFor="let nota of notas" [ngClass]="'note-color-' + nota.cor" (click)="selecionaNota(nota.codigo)">
    <ion-card-header>
      <b>{{nota.titulo}}</b>
    </ion-card-header>
    <ion-card-content style="white-space: pre-line">
      {{nota.texto}}
    </ion-card-content>
  </ion-card>
    <ion-fab bottom right #fab *ngIf="this.tipoNota  != 'notas-arquivadas'">
      <button ion-fab (click)="novaNota()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>