<ion-header>
  <ion-navbar [color]="this.nomeStorage == 'notas-secretas' ? 'dark': 'primary'">
    <ion-title>
      {{!tituloNota && codigoNota == 0 ? "Nova Nota" : !tituloNota ? "Nota sem Nome" : tituloNota}}
    </ion-title>
    <ion-buttons end *ngIf="this.nomeStorage != 'notas'">
      <button ion-button icon-only>
        <ion-icon name="lock" *ngIf="this.nomeStorage == 'notas-secretas'"></ion-icon>
        <ion-icon name="archive" *ngIf="this.nomeStorage == 'notas-arquivadas'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="'note-color-' + corNota">
  <form #notaForm="ngForm">
    <ion-list>
      <ion-item [ngClass]="'note-color-' + corNota">
        <ion-label floating>Título</ion-label>
        <ion-input name="titulo" [(ngModel)]="tituloNota" type="text" required></ion-input>
      </ion-item>
      <ion-item [ngClass]="'note-color-' + corNota">
        <ion-label floating>Texto</ion-label>
        <ion-textarea name="texto" [(ngModel)]="textoNota" rows="8" required></ion-textarea>
      </ion-item>
      <ion-item no-lines [ngClass]="'note-color-' + corNota">
        <ion-label>Cor de fundo: </ion-label>
        <ion-select name="cor" [(ngModel)]="corNota">
          <ion-option value="default">Sem cor</ion-option>
          <ion-option value="yellow">Amarelo</ion-option>
          <ion-option value="blue">Azul</ion-option>
          <ion-option value="green">Verde</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <button ion-button icon-start block round color="secondary" [disabled]="!notaForm.valid" (click)="salvarNota()">
    <ion-icon name="checkmark"></ion-icon>
    Salvar Nota
  </button>
  <button ion-button icon-start block round color="light" *ngIf="this.nomeStorage == 'notas'" [disabled]="codigoNota == 0"
    (click)="moverNota('notas-arquivadas')">
    <ion-icon name="archive"></ion-icon>
    Arquivar Nota
  </button>
  <button ion-button icon-start block round color="light" *ngIf="this.nomeStorage == 'notas-arquivadas'" [disabled]="codigoNota == 0"
    (click)="moverNota('notas')">
    <ion-icon name="undo"></ion-icon>
    Restaurar Nota
  </button>
  <button ion-button icon-start block round color="danger" [disabled]="codigoNota == 0" (click)="excluirNota()">
    <ion-icon name="trash"></ion-icon>
    Apagar Nota
  </button>
</ion-footer>